@import '../styles/colors';
@import '../styles/globals';

.podcast-detail-container {
    width: 20%;
    display: inline-block;
    overflow-wrap: break-word;

    .podcast-detail-box {
        margin: 20px 8px 20px 8px;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-grey;
    }

    .image-container {
        text-align: center;

        img {
            width: 80%;
            border-radius: 5px;
        }
    }

    .title-container {
        min-height: 80px;
    }

    .description-container {
        margin: 20px 8px 20px 8px;
        padding-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: $black;
    }
}
